*.dll
*.exp
*.lib
*.pdb
.vscode
*.obj
*.trj
*DES*
*#*
*.ot
*.rspdb
log_info
*.xml
*.project
console
bov.c
bov.h
tcb.c
OPNET_models_std
*.exe
*.csv
*.log
*_trj
*.fig
*.pr.c
*.pr.cpp
*.ef
*.out
*.pdf
*.tex
*.png
*latex.md
router
transfer_queue
balloc
*.latex
model/*.o
model/sync